.geoChart-container {
  display: inline-block;
  position: relative;
  width: 100%;
  border: solid black 2px;
  border-radius: 5px;
  box-sizing: border-box;
  vertical-align: top;
  overflow: hidden;
  margin-bottom: 5px;
  height: 40vh;
  flex: 1;
}

@media (min-width: 1200px) {
  .geoChart-container {
    margin-bottom: 0px;
    height: 100%;
  }
}

.svg-content {
  display: inline-block;
  position: absolute;
}

.geoChart-tooltip {
  border: 2px solid black;
  padding: 5px 10px;
  z-index: 1000;
  background: var(--primary-background);
  border-radius: 5px;
  position: absolute;
  visibility: hidden;
}

.country {
  stroke: #999;
}

.country:hover {
  cursor: pointer;
}
