svg {
  width: 100%;
  height: 100%;
}

.countries-stat {
  display: flex;
  justify-content: space-between;
}

.selected_Country {
  fill: #197278;
}

@media (min-width: 1200px) {
  .countries-list {
    max-width: 1000px;
  }
}

#scroller * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}
