.flex-wrapper {
  display: flex;
  flex: 1 1 0%;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding-right: 2vw;
  padding-left: 2vw;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
